@import "../../components/Colors/Colors.style.scss";

label{
  width: 20vw;
}
.form-textarea {
  margin-left: 2rem;
}

.p-title{
  color: #{$color-secondary};
  font-size: 4rem;
}

.form-cadastrar {
  display: flex;
}

label {
  display: flex;
  flex-direction: column;
}

.button-voltar {
  background-color: #{$color-secondary};
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 1rem;
  margin-top: 1rem;
  // border-radius: 20%;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.6)
}

.input-button {
  background-color: #{$color-green}; /* Green */
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1rem;
}
