// https://paletadecores.com/paleta/eddbc4/a3c9a7/ffb353/ff6e4a/5c5259/
$color-primary: #5c5259;
$color-secondary: #ff6e4a;
$color-success: #a3c9a7;
$color-danger: #f22b29;
$color-warning: #ffb353;
$color-info: #17a2b8;
$color-light: #eddbc4;
$color-dark: #363636;
$color-gray: #6c7a89;
$color-green: #4CAF50;
$color-blue: #008CBA;
