@import "../../components/Colors/Colors.style.scss";

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 2rem;
  background: #{$color-info};
  color: #fff;
  text-align: center;

  h1 {
    font-size: 2rem;
    max-width: 800px;
    margin-bottom: 2rem;
    line-height: 1.6;
  }

  .button-voltar {
    background-color: #{$color-warning};
    color: #000;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($color-warning, 10%);
    }
  }
}
