@import "../../components/Colors/Colors.style.scss";

label {
  width: 20vw;
}
.form-textarea {
  margin-left: 2rem;
}

.container-cadastrar-hero {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background: #{$color-gray};
  min-width: none;
}

.form-cadastrar {
  display: flex;
}

label {
  display: flex;
  flex-direction: column;
}

.button-voltar {
  background-color: #{$color-secondary};
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 1rem;
  margin-top: 1rem;
  // border-radius: 20%;
}

.input-button {
  background-color: #{$color-green}; /* Green */
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1rem;
}
